# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/app/libs/
android/idea/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/app/*.iml

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# VS Code
.vscode/

# Backend (Separate Repo)
backend/

# Misc
.DS_Store
.env
